.headerFooterWrapper {
  display: flex;
  padding: 0.5em;
  align-items: center;
}

.headerFooterSpinner {
  padding-right: 0.5em;
}

.customSuggestionItem {
  display: flex;
  align-items: center;
  padding: 0.25em;
}

.customSuggestionItemEmoji {
  padding-right: 0.25em;
}
